{% extends 'base3.html' %}

{% block title %}
{{ currPage }}
{% endblock %}

{% block user %}
{{ user }}
{% endblock %}

{% block currPage%}
{{ currPage }}
{% endblock %}

{% load static %}

{% block body %}
<main>
    <form action="singin/form" class="h-[80vh] md:grid md:grid-cols-2 md:grid-rows-2 md:girdce md:justify-end md:h-[75vh]">
        <button class="singbox flex m-10 mb-20">
            <div class="bg-gray-400 h-16 w-20 md:h-20 md:w-24"><img class="h-10 m-auto my-2 md:my-3 md:h-12" src="{% static 'image/student-icon.png' %}" alt=""></div>
            <div class="bg-blue-500 h-16 w-60 text-center p-2 text-white md:h-20 md:w-72">
                <div class="text-lg md:text-3xl">Student Login</div>
                <div class="text-xs md:text-sm">Click here to login</div>
            </div>
        </button>
        <button class="singbox flex m-10 mb-20">
            <div class="bg-gray-400 h-16 w-20 md:h-20 md:w-24"><img class="h-10 m-auto my-2 md:my-3 md:h-12" src="{% static 'image/teacher-icon.png' %}" alt=""></div>
            <div class="bg-blue-500 h-16 w-60 text-center p-2 text-white md:h-20 md:w-72">
                <div class="text-lg md:text-3xl">Teacher Login</div>
                <div class="text-xs md:text-sm">Click here to login</div>
            </div>
        </button>
        <button class="singbox flex m-10 mb-20">
            <div class="bg-gray-400 h-16 w-20 md:h-20 md:w-24"><img class="h-10 m-auto my-2 md:my-3 md:h-12" src="{% static 'image/college-icon.png' %}" alt=""></div>
            <div class="bg-blue-500 h-16 w-60 text-center p-2 text-white md:h-20 md:w-72">
                <div class="text-lg md:text-3xl">College Login</div>
                <div class="text-xs md:text-sm">Click here to login</div>
            </div>
        </button>
        <button class="singbox flex m-10 mb-20">
            <div class="bg-gray-400 h-16 w-20 md:h-20 md:w-24"><img class="h-10 m-auto my-2 md:my-3 md:h-12" src="{% static 'image/admin-icon.png' %}" alt=""></div>
            <div class="bg-blue-500 h-16 w-60 text-center p-2 text-white md:h-20 md:w-72">
                <div class="text-lg md:text-3xl">Admin Login</div>
                <div class="text-xs md:text-sm">Click here to login</div>
            </div>
        </button>
    </form>
</main>
{% endblock %}